{
  "listeners": {
    "*:80": {
      "pass": "routes"
    }
  },
  "routes": [
    {
      "match": {
        "uri": "/static/*"
      },
      "action": {
        "share": "/var/www/django-graphql/$uri"
      }
    },
    {
      "action": {
        "pass": "applications/djangoGraphql"
      }
    }
  ],
  "applications": {
    "djangoGraphql": {
      "type": "python",
      "path": "/var/www/django-graphql",
      "home": "/var/www/django-graphql/.venv",
      "module": "core.asgi",
      "environment": {
        "ON_PRODUCTION": "True"
      }
    }
  }
}
